{include file="common/header" /}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">添加管理员</div>
        <div class="layui-card-body">
            <form class="layui-form" action="{:url('Admins/add')}" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">登录名</label>
                    <div class="layui-input-block">
                        <input type="text" name="admin_name" required lay-verify="required" placeholder="请输入登录名"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">登录密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="password" required lay-verify="required" placeholder="请输入登录密码"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="btnSub">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/footer" /}