{include file="common/header" /}
<div class="layui-container" style="margin-top: 100px;padding: 0px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="box-common focus">
                <div class="layui-carousel" id="test10">
                    <div carousel-item="">
                        <div><img src="http://www.wustudy.com/static/img/index/logo.png" /></div>
                        <div><img src="http://www.wustudy.com/static/img/index/logo.png" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">随机心情</div>
                <div class="layui-card-body" style="height: 146px;">
                    fdsf
                </div>
            </div>
        </div>
        <div class="layui-col-md12" style="margin-top: 30px;">
            {volist name="list" id="vv"}
            <div class="list-box">
                <div class="tag" style="background:{$vv.cate_info.color};">{$vv.cate_name}</div>
                <div class="pic">
                    fdsf
                </div>
                <div class="content">
                    <h6 class="topic"><a href="/read-{$vv.id}.html">{$vv.topic}</a></h6>
                    <div class="desc">
                        {$vv.brief}
                    </div>
                    <div class="meta">
                        <time>时间：{$vv.dateline|date="Y-m-d H:i"}</time>
                        <span class="view">查看：{$vv.views}</span>
                    </div>
                    <a href="" class="layui-btn layui-btn-danger read-more"><i class="layui-icon">&#xe705;</i>查看详情</a>
                </div>
            </div>
            {/volist}
            <div class="list-box">
                fdsf
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        {include file="common/aside" /}
        <div class="layui-col-md9">
            <div class="notice-box">
                <h2><a href=""><span class="tag">公告</span>这是一个公告标题</a></h2>
                <div class="contents">
                    微餐时代信息科技有限公司，总部位于深圳南山前海，研发中心位于东莞松山湖，是国内领先的基于云端技术的SaaS餐饮管理软件服务公司。凭借管理者对餐饮行业实体经营的丰富经验，依托IT及互联网技术，打造出集餐饮行业品牌管理体系、服务体系、销售推广体...
                </div>
            </div>
            {volist name="list" id="vv"}
            <div class="article-box">
                <div class="hd">
                    <span class="label">{$vv.cate_name}</span>
                    <a href="/read-{$vv.id}.html">{$vv.topic}</a>
                </div>
                <div class="contents">{$vv.brief}</div>
                <p class="meta">
                    <time>时间：{$vv.dateline|date="Y-m-d H:i"}</time>
                    <span class="view">查看：{$vv.views}</span>
                </p>
            </div>
            {/volist}
            <div id="page" data-rule="{total:{$rs.total}, limit :{$rs.limit}, curr : {$rs.current_page}, url : '/cate-{$cate_id}.html'}"></div>
        </div>
    </div>
</div>
{include file="common/footer" /}