{include file="common/header" /}
<div class="layui-container" style="margin-top: 25px;">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="box">
				<div class="page-path">
					<span class="layui-breadcrumb">
						<a href="/">首页</a>
						<a href="/cate-{$vo.cate_id}.html">{$cate_info.topic}</a>
						<a><cite>正文</cite></a>
					</span>
				</div>
				<div class="detail">
					<div class="detail-title">{$vo.topic}</div>
					<div class="detail-time">时间：{$vo.dateline|date="Y-m-d H:i:s"}</div>
					<div class="contents">
							{$vo.contents|raw}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{load href="__STATIC__/js/prism/prism.css" /}
{load href="__STATIC__/js/prism/prism.js" /}
{include file="common/footer" /}