<div class="layui-col-md3">
    <div class="aside-box">
        <div class="hd">
            <h3>每日心情</h3>
        </div>
        <div class="cont">
            微餐时代信息科技有限公司，总部位于深圳南山前海，研发中心位于东莞松山湖
        </div>
    </div>
    <div class="aside-box">
        <div class="hd">
            <h3>类别</h3>
        </div>
        <div class="cont">
            <ul class="list">
                {volist name="cate_list" id="vv"}
                <li><a href="/cate-{$vv.id}.html">{$vv.topic}</a><span class="num">{$vv.article_count}篇</span></li>
                {/volist}
            </ul>
        </div>
    </div>
    <div class="aside-box">
        <div class="hd">
            <h3>归档</h3>
        </div>
        <div class="cont">
            <ul class="list">
                {volist name="archive_list" id="vv"}
                <li><a href="">{$vv.year}年{$vv.month}月</a><span class="num">{$vv.count}篇</span></li>
                {/volist}
            </ul>
        </div>
    </div>
    <div class="aside-box">
        <div class="hd">
            <h3>热门文章</h3>
        </div>
        <div class="cont">
            <ul class="alist">
                {volist name="hot_article" id="vv"}
                <li>
                    <a href="/read-{$vv.id}.html" target="_blank">{$vv.topic}</a>
                    <p class="read">阅读量：<span>{$vv.views}</span></p>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>