<div class="layui-col-md3">
    <div class="aside-box">
                <div class="hd">
                    <h3>每日心情</h3>
                </div>
                <div class="cont">
                    微餐时代信息科技有限公司，总部位于深圳南山前海，研发中心位于东莞松山湖
                </div>
            </div>
            <div class="aside-box">
                <div class="hd">
                    <h3>类别</h3>
                </div>
                <div class="cont">
                    <ul class="list">
                        <li><a href="">分类的名称</a><span class="num">1篇</span></li>
                        <li><a href="">标题</a><span class="num">1篇</span></li>
                        <li><a href="">分类的名称</a><span class="num">1篇</span></li>
                        <li><a href="">标题</a><span class="num">1篇</span></li>
                        <li><a href="">分类的名称</a><span class="num">1篇</span></li>
                        <li><a href="">标题</a><span class="num">1篇</span></li>
                    </ul>
                </div>
            </div>
            <div class="aside-box">
                <div class="hd">
                    <h3>归档</h3>
                </div>
                <div class="cont">
                    <ul class="list">
                        <li><a href="">2018-07</a><span class="num">1篇</span></li>
                        <li><a href="">2018-06</a><span class="num">1篇</span></li>
                        <li><a href="">2018-05</a><span class="num">1篇</span></li>
                        <li><a href="">2018-04</a><span class="num">1篇</span></li>
                        <li><a href="">2018-03</a><span class="num">1篇</span></li>
                        <li><a href="">2018-02</a><span class="num">1篇</span></li>
                        <li><a href="">2018-01</a><span class="num">1篇</span></li>
                    </ul>
                </div>
            </div>
            <div class="aside-box">
                <div class="hd">
                    <h3>热门文章</h3>
                </div>
                <div class="cont">
                    <ul class="alist">
                        <li>
                            <a href="" target="_blank">2017清华本科生特等奖得主出炉，AI学霸乔明达获奖</a>
                            <p class="read">阅读量：<span>27132</span></p>
                        </li>
                        <li>
                            <a href="" target="_blank">2017清华本科生特等奖得主出炉，AI学霸乔明达获奖</a>
                            <p class="read">阅读量：<span>27132</span></p>
                        </li>
                        <li>
                            <a href="" target="_blank">2017清华本科生特等奖得主出炉，AI学霸乔明达获奖本科生特等奖得主出炉，AI学霸乔明达获奖</a>
                            <p class="read">阅读量：<span>27132</span></p>
                        </li>
                    </ul>
        </div>
    </div>
</div>